.nashta-weather {
  background: #8594e4;
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #8e819c;
  border-radius: 6px;
}
h1 {
  background: #d5def5;
  max-width: 590px;
  margin: 0px auto;
  border: 1px solid #8e819c;
  border-radius: 6px;
  padding: 20px;
}
h2 {
  background: #6643b5;
  max-width: 590px;
  max-height: 216px;
  margin: 20px auto;
  border: 1px solid #8e819c;
  border-radius: 6px;
  padding: 20px;
}
section {
  background: #430f58;
  max-width: 590px;
  margin: 20px auto;
  border: 1px solid #8e819c;
  border-radius: 6px;
  padding: 20px;
}
.btn {
  background-color: #430f58;
  border: none;
}
#city-input {
  background-color: rgb(243, 230, 247);
}
.last {
  text-align: center;
  font-size: 100%;
  padding: 66px;
}
.decor {
  text-align: center;
  font-size: 46px;
}
.graph {
  text-align: center;
  margin: 23px auto;
}
#current-text {
  opacity: 0.6;
  font-size: small;
}
.degree {
  margin-top: 36%px;
}
.current-temp {
  font-size: 96px;
}
.wind-placeholder {
  font-size: medium;
}
.weather-description {
  text-transform: capitalize;
  font-size: large;
  opacity: 0.7;
  margin: 33px;
  text-align: center;
}
.days {
  font-size: 76px;
  color: blueviolet;
}
ul {
  list-style: none;
}

.card-body {
  background: #6643b5;
  max-width: 96px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 2px;
}
.forecast-date {
  font-size: medium;
  text-align: center;
  color: rgba(212, 198, 180, 0.993);
}
#city {
  text-align: center;
  font-weight: 900;
}
#city,
#date {
  color: #430f58;
}
.forecast-temp {
  color: rgba(212, 198, 180, 0.993);
  text-align: center;
}
.forecast-temp-min {
  opacity: 0.5;
}
.forecast-icon {
  opacity: 0.7;
  max-width: 76px;
}
.git-link {
  text-decoration: none;
  opacity: 0.4;
}
