.nashta-weather {
  background: #8594e4;
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #8e819c;
  border-radius: 6px;
}
h1 {
  background: #d5def5;
  max-width: 590px;
  margin: 0px auto;
  border: 1px solid #8e819c;
  border-radius: 6px;
  padding: 20px;
}
h2 {
  background: #6643b5;
  max-width: 590px;
  margin: 20px auto;
  border: 1px solid #8e819c;
  border-radius: 6px;
  padding: 20px;
}
section {
  background: #430f58;
  max-width: 590px;
  margin: 20px auto;
  border: 1px solid #8e819c;
  border-radius: 6px;
  padding: 20px;
}
.last {
  text-align: center;
  font-size: 100%;
  padding: 66px;
}
.decor {
  text-align: center;
  font-size: 46px;
}
.graph {
  text-align: center;
  font-size: 196px;
}
.current-temp {
  font-size: 96px;
}
.weather-description {
  text-transform: capitalize;
}
.days {
  font-size: 76px;
  color: blueviolet;
}
ul {
  list-style: none;
}

.card-body {
  background: #6643b5;
  max-width: 96px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 2px;
}
