.nashta-weather {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #8e819c;
  border-radius: 6px;
}
h1 {
  max-width: 590px;
  margin: 0px auto;
  border: 1px solid #8e819c;
  border-radius: 6px;
  padding: 20px;
}
h2 {
  max-width: 590px;
  margin: 20px auto;
  border: 1px solid #8e819c;
  border-radius: 6px;
  padding: 20px;
}
section {
  max-width: 590px;
  margin: 20px auto;
  border: 1px solid #8e819c;
  border-radius: 6px;
  padding: 20px;
}
.last {
  text-align: center;
  color: blue;
  padding: 66px;
}
.decor {
  text-align: center;
  font-size: 66px;
}
.graph {
  text-align: center;
  font-size: 196px;
  color: blue;
}
.current-temp {
  font-size: 96px;
}
.weather-description {
  text-transform: capitalize;
}
.days {
  font-size: 76px;
  color: blueviolet;
}
ul {
  list-style: none;
}
